---
layout: base.njk
title: Home Page
---

## Welcome!

This is the new homepage for my site, built with Eleventy.

*   Minimalist design in progress.
*   Content sections like News, Publications, etc., will be added soon.