@use "variables" as var;

figure > img {
  display: block;
}

figcaption {
  font-size: var.$small-font-size;
}

.blankbox {
  background: var.$theme-color;
}
.img_row {
  /*height: $img-height;*/
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.col {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
  padding: var.$img-spacing;
  // border: $img-spacing;
}
.one {
  width: 25%;
}
.two {
  width: 75%;
}
.three {
  width: 100%;
}
.caption {
  height: 100%;
  color: var.$caption-color;
  text-align: center;
  vertical-align: middle;
  font-size: var.$caption-font-size;
}
