.profile {
    margin: 30px -2em -2.5ex -2em;

    img {
        box-shadow: 0 0 1px $grey-color;
        width: 125%;
    }
}
.address {
    font-family: monospace;

    p { margin: 0; }
}
.publications {
    // border-top: 1px solid $mid-gray;
    margin: 30px -2em -2.5ex -2em;
    // margin-top: 30px;
    padding-top: 20px;

    h1 {
        color: $dark-gray;
        margin-top: 0;
        margin-bottom: 10px;
    }
}
.courses {
    // border-top: 1px solid $mid-gray;
    margin: 30px -2em -2.5ex -2em;
    // margin-top: 30px;
    padding-top: 20px;

    h1 {
        color: $dark-gray;
        margin-top: 0;
        margin-bottom: 10px;
    }
    strong {
        font-weight: 550;
    }
}
.research {
    // border-top: 1px solid $mid-gray;
    margin: 30px -2em -2.5ex -2em;
    // margin-top: 30px;
    padding-top: 20px;

    h1 {
        color: $dark-gray;
        margin-top: 0;
        margin-bottom: 10px;
    }
    strong {
        font-weight: 550;
    }
}
.news {
    // border-top: 1px solid $grey-color-light;
    margin: 0px -2em -2.5ex -2em;
    // margin-top: 30px;
    padding-top: 20px;

    h1 {
        color: $dark-gray;
        margin-top: 0;
        margin-bottom: 10px;
    }
    h2 {
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 10px;
    }
    table {
        border-collapse: collapse;
        width: 100%;

        .date { width: 19%; }
        .announcement { width: 81%; }

        tr { text-align: left; }
        td {
            padding: 6px 0;
            vertical-align: top;
            border: none;
        }
    }
}
.social {
    // border-top: 1px solid $mid-gray;
    margin: 30px -2em -2.5ex -2em;
    // margin-top: 50px;
    padding-top: 20px;
}
